<!DOCTYPE html>

<html>
    <head>
        <title>CD DB</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            @media print {
                body { font-size: 10pt; }
            }
        </style>

    </head>

    <body>
    <div class="container">
        <img class="mx-auto d-block" src="pics/<?= $item['picture'] ?>">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Year
                </th>
                <th>
                    Price
                </th>
                <th>
                    Rating
                </th>
            </tr>
            </thead>
            <tbody>
            <?php
                echo "<tr>";

                echo "<td>";
                echo $item['title'];
                echo "</td>";
                echo "<td>";
                echo $item['author'];
                echo "</td>";
                echo "<td>";
                echo $item['genre'];
                echo "</td>";
                echo "<td>";
                echo $item['year'];
                echo "</td>";
                echo "<td>";
                echo $item['price'];
                echo " Kč</td>";
                echo "<td>";
                echo $item['rating'];
                echo "</td>";

                echo "</tr>";

            ?>
            </tbody>
        </table>
    </div>


    </body>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>